@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body{
    font-family: "Manrope", sans-serif;
}
.portfolio-section{
    background: white;
}
.form-part{
    background: url("../assets/bg.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid #ffff;
}
.footer{
    row-gap: 0;
}
/* small devices */
@media screen and (max-width:640px) {
    .portfolio-section{
        background: #f4f4f4;
    }
}

/* medium device */
@media screen and (min-width:768px) and (max-width:1024px) {
    .portfolio-section{
        background: #f4f4f4;
    }
}