@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body{
    font-family: "Manrope", sans-serif;
}
.about-img{
    background-image: url("../assets/Rectangle.png");
    width: 573px;
    height: 560.67px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.portfolio-section{
    background: white;
}
.form-part{
    background: url("../assets/bg.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid #ffff;
}
.footer{
    row-gap: 0;
}
/* small devices */
@media screen and (max-width:640px) {
    .about-img{
        width: 335px;
        height: 223px;
    }
    .portfolio-section{
        background: #f4f4f4;
    }
}

/* medium device */
@media screen and (min-width:768px) and (max-width:1024px) {
    .about-img{
        width: 770px;
        height: 385px;
    }
    .portfolio-section{
        background: #f4f4f4;
    }
}